@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

@layer base {
  body {
    @apply font-[Roboto+Slab];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}


/* paleta de trabajo
  #101419 Rich Black
  #468C98 Steel teal
  #476C9B Queen blue
  #ADD9F4 Uranian blue
  #984447 Cordovan
*/

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content-div:hover{
  background-image: linear-gradient(
    to right,
    rgba(112,157,255,0.8),
    hsla(242,74%,61%,0.8)
  )!important;
}